*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-left: 135px;
    margin-right: 135px;
}
header{
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
} 
.h1{
    color: #333;
font-family: "Hind Siliguri";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 120% */
letter-spacing: -1px;
padding-right: 42px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    color: #333;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    margin-right: 446px;
}
.pink-bttn{
    width: 138px;
height: 48px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid rgba(240, 117, 102, 0.24);
color: #F07566;
text-align: center;
font-family: "Hind Siliguri";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
 }
 /* .box1{ */
    /* margin-top: 75px;
    width: 470px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
} */
/* .minibox1{
    display: flex;
    flex-direction: row;
}
.oval{
    width: 12px;
height: 12px;
fill: #F07566;
padding-right: 10px;
} */
/* .p1{
    color: #F07566;
font-family: "Hind Siliguri";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 32px; 200% */ 
/* letter-spacing: 1px;
text-transform: uppercase;
padding-bottom: 23px;
}
.p2{
    color: #333;
font-family: "Hind Siliguri";
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 111.111% */
/* letter-spacing: -1px;
}
.sp{
    color: #4DB282;
font-family: "Hind Siliguri";
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 80px;
letter-spacing: -1px;
padding-bottom: 55px;
}
.p3{
    color: #333;
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
/* }
.bttn1{
    width: 154px;
height: 48px;
flex-shrink: 0;
border-radius: 6px;
background-color: #F07566;
color: #FFF;
text-align: center;
font-family: "Hind Siliguri";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
}    */
.third-page{
    margin-top: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 697px;
}
.box{
    position: relative;
    right: 212px;    
}
.image1{
    position: relative;
}
.box-1{
    position: relative;
    right: 513px;
    column-gap: 30px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
overflow: visible;
}
.minibox{
    display: flex;
    flex-direction: column;
    width: 270px;
height: 368px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #E6EDF5;
background: #FFF;
padding-top: 32px;
padding-left: 32px;
padding-right: 32px;
}
.minibox-1{
    width: 270px;
height: 368px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 24px 48px 0px rgba(0, 17, 86, 0.08);
padding-top: 32px;
padding-left: 32px;
padding-right: 32px;
}
.h2{
    color: #333;
font-family: "Hind Siliguri";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
padding-top: 89px;
padding-bottom: 18px;
}
.d{
    width: 206px;
height: 99px;
flex-shrink: 0;
}
.p{
    color: rgba(51, 51, 51, 0.50);
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
}
.fourth-page{
    column-gap: 154px;
    margin-top: 154px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 540px;
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 540px;
}
.minibox1{
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
}
.p1{
    color: #F07566;
font-family: "Hind Siliguri";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 200% */
letter-spacing: 1px;
text-transform: uppercase;
padding-bottom: 20px;
}
.minibox2{
    width: 387px;
    height: 128px;
    margin-bottom: 28px;
}
.p2{
    color: #333;
font-family: "Hind Siliguri";
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 114.286% */
letter-spacing: -1px;
}
.p3{
    color: #333;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
}
.minibox3{
    width: 470px;
    height: 96px;
    margin-bottom: 21px;
}
.minibox4{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 24px 48px 0px rgba(0, 17, 86, 0.08);
    width: 470px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
}
.smallbox1{
    column-gap: 16px;
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}
.p4{
    color: #333;
font-family: "Hind Siliguri";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}
.p5{
    color: rgba(51, 51, 51, 0.50);
font-family: "Work Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
.box3{
    height: 540px;
    width: 564px;
    background-color: aliceblue;
}